/* friendlybit.com/css/simple-css-templates/ */

.logoimg {
    border-style:none;
}

/* table */
table.stats {
    text-align:center;
    font-family:Verdana,Helvetica,sans-serif ;
    font-size:11px;
    width:auto;
    border:0px;
    border-collapse:collapse;
    border-spacing:0px;
}
table.stats tr {
    background-color:#fafafa;
    color:black;
    text-align:center;
    border:1px white solid;
}
table.stats tr.acc {
    background-color:gold;
    color:red;
}
table.stats tr.hed {
    background-color:dimgray;
    color:white;
    border-bottom:2px #fff solid;
    font-size:12px;
    font-weight:bold;
}
table.stats td {
    padding:5px;
    border:1px white solid;
}
