<html>
  <head>
    <title> Positional history of A. thaliana genes </title>
    <link rel="stylesheet" type="text/css" 
    href="/static/smoothness/jquery-ui-1.8.1.custom.css" />
    <link rel="stylesheet" type="text/css"
    href="/static/exploitable/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/site.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
    <script type="text/javascript" 
        src="http://gettopup.com/releases/latest/top_up-min.js"></script>
    <script type="text/javascript" src="/static/site.js"></script>
  </head>
  <body>
     <div id="wrapper">
      <div id="header">
          <div id="logo">
              <h1> <a href="/athaliana"></a> </h1>
              <p> Positional history of <i>A. thaliana</i> genes </p>
          </div>
      </div>
      <div id="menu">
          <ul>
              <li> <a href="/athaliana"> Search </a> </li>
              <li> <a href="/athaliana/methods"> Methods </a> </li>
              <li> <a href="/athaliana/contact"> Contact </a> </li>
          </ul>
      </div>
      <div id="page">
        <div id="content">
            {% include page_template %}
        </div>
      </div>
    </div>
  </body>
</html>
