<h1> Search <i>A. thaliana</i> genes </h1>
  <form style="color:green;">
<p>
  Enter <i>A.thaliana</i> gene ID or description
  <input id="gid" name="gid" type="text" value="{{ gid }}" size="30"
  style="color:red; font-weight: bold;" /> 
  (e.g. <a href="#" onclick="show_example('At5g54690');">At5g54690</a>,
  <a href="#" onclick="show_example('F-box')">F-box</a>,
  <a href="#" onclick="show_example('MADS-box')">MADS-box</a>, 
  <a href="#" onclick="show_example('zinc finger')">zinc finger</a> 
  ) 
  <br />
  <b>or</b> Select a specific TAIR gene family
  <select onchange="show_example($(this).val())">
      <option value="-"> - </option>
  {% for f in families %}
    <option value="{{ f }}"> {{ f }} </option>
  {% endfor %}
  </select>
  <br />
  <b>or</b> Specify the synteny in outgroup lineages
  <br />
  <div style="float: right; width: 400px; margin: 5px; padding: 5px; border: 1px
      solid slategray; fontcolor: slategray;" id="codehint">
      <p> In the result table, <b>S</b> is stable, everything else is 
      interpreted as unstable (transposed or lost) or missing data (-). See details of our codes in
      the <a href="/athaliana/methods">Methods</a>.</p>
  </div>
  <div id="synteny">
      {% for o in outgroups %} 
      <div class="radio">
        {{ o }}: 
        <input type="radio" id="{{ o }}-radio1" value="A" name="{{ o }}" checked="checked">
        <label for="{{ o }}-radio1">All</label>
        <input type="radio" id="{{ o }}-radio2" value="S" name="{{ o }}">
        <label for="{{ o }}-radio2">Stable</label>
        <input type="radio" id="{{ o }}-radio3" value="F" name="{{ o }}">
        <label for="{{ o }}-radio3">Unstable</label>
      </div>
      {% endfor %}
  </div>
</p>
  </form>
  <br />
  <button onclick="submit();">Submit</button>
  <button onclick="reset();">Reset</button>
  <hr />
  <div id="response">
      {% if response %}
      <div class='pagination'>
          <span class='step-links'>
              Total {{ counts }} records. 
              {% if response.has_previous %}
              <a href='#' onclick="page({{ response.previous_page_number }}, 
                  '{{ query_str|safe }}');"> Prev </a>
              {% endif %}
              <span class='current'>
                  Page {{ response.number }} of {{ response.paginator.num_pages }}.
              </span>
              {% if response.has_next %}
              <a href='#' onclick="page({{ response.next_page_number }}, 
                  '{{ query_str|safe }}');"> Next </a>
              {% endif %}
          </span>
      </div>
      <table class='stats'>
      <tr class='hed'>
          <td> athaliana  </td>
          <td> description </td>
          <td> lyrata </td>
          <td> papaya </td>
          <td> poplar </td>
          <td> grape </td>
          <td> link </td>
      </tr>
      {% for g in response.object_list %}
      <tr>
        <td><a href='/athaliana/query?gid={{ g.athaliana }}'> {{ g.athaliana }} </a></td>
        <td> {{ g.description }} </td>
        <td> {{ g.lyrata_code }} </td>
        <td> {{ g.papaya_code }} </td>
        <td> {{ g.poplar_code }} </td>
        <td> {{ g.grape_code }} </td>
        <td><a target='_blank' href='{{ g.gevo_link }}'> CoGe Link </a></td>
      </tr>
      {% endfor %}
      </table>
      {% endif %}
      <div id="details">
          {% if single %}
          <hr />
          <a target='_blank' href='{{ single.gevo_link }}'>
          <img style="border:none" src='/athaliana/simple.png?gid={{single.athaliana}}' alt='' />
          </a>
          {% endif %}
      </div>
  </div>
